[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
rootstock_testnet = "${ROOTSTOCK_TESTNET_RPC}"
rootstock_mainnet = "${ROOTSTOCK_MAINNET_RPC}"

[etherscan]
rootstock_testnet = { key = "abc", url = "https://rootstock-testnet.blockscout.com/api" }
